$container-width: 100%;
$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

$primaryColor: #61892f;
$secondaryColor:#eae7dc4b;
$fontColor: #302a2c;
$color-pallete-1: #222f3e;
$color-pallete-2: #0984e3;
$color-pallete-3: #4b4c4e;
$color-pallete-4: #ffffff;
$color-pallete-5: #fafafa;
$color-pallete-6: #777777;
$color-pallete-7: #dfe6e9;
$color-pallete-8: #000000;
$color-pallete-9: #302a2cd5;


