@import '../styles/variable';

.article-box {
  grid-area: article;
  width: 100%-$gutterdbl; 
  margin: 0.5rem $gutter;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-bottom: 1px dotted $color-pallete-6;
  transition: all 0.25s ease;
  box-shadow: inset 0 0 0 0 $color-pallete-4;

    &:hover {
      cursor: pointer;

      @media screen and (min-width: 960px) {
        box-shadow: inset $container-width 0 0 0 $color-pallete-7;
      }

    }

    .left {
      margin: .5rem $gutter;
      height: 150px;
      background-color: $color-pallete-5;
    }

    .right {
      padding: .5rem $gutter;
      color: $color-pallete-3;
      margin-top: -20px;

        .date {
          margin-top: -15px;
          margin-bottom: 20px;
          font-size: 12px;
        }
    
        h3 {
          color: $color-pallete-3;
        }

    }

}
