.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4rem auto 6rem;
  grid-template-areas:
    "links links"
    "article sidebar"
    "footer footer";

  margin: 0 auto;
  padding: 10px;
  border: solid 1px #ccc;
}

.single-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem auto auto 6rem;
  grid-template-areas:
    "links links"
    "slide slide"
    "article article"
    "footer footer";
  margin: 0;
  padding: 10px;
  border: solid 1px #ccc;
}
