@import '../styles/variable';

container {
    grid-area: sidebar;
    background-color: $color-pallete-6;


    .card {
      width: 100%-$gutterdbl;
    margin: .5rem $gutter;
        color: $color-pallete-4;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        h2 {
          font-size: 1.12rem;
          color:$secondaryColor;
          font-weight: $normalWeight;
        }
      
      }
    }